<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>  
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="./高考志愿汇/ipin-ico.css">
	<link rel="stylesheet" href="./高考志愿汇/base.css">
	<link rel="stylesheet" href="./高考志愿汇/index.css">
	<link rel="stylesheet" href="./高考志愿汇/scorePane.css">
</head>

<body>
<div class="g-head">  <!-- 索引 -->
	<div class="topNav clear">
		<div class="content clear">
			<ol class="topMenu fr">
				<li class="topMenu-item">
					<div class="act-vip">
						<a href="./index.html" rel="nofollow" class="agent" >
							<span>回到首页</span>
						</a>
					</div>
				</li>
				<li class="topMenu-item">
					<div class="act-vip">
						<a href="" rel="nofollow" class="agent">
							<span>新手教程</span>
						</a>
					</div>
				</li>
				<li class="topMenu-item">
					<div class="act-vip">
						<a href="" target="_blank" rel="nofollow" class="agent">
							<span>快速通道</span>
						</a>
					</div>
				</li>
				

				
				<li class="topMenu-item">
					<div class="act-vip">
						
						<span><a href="">开通</a></span> | <span class="btn-activate-vip">激活 VIP</span>
						
						</div>
					</li>				
				<li class="topMenu-item">
					<div class="act-user">
						<span id="login_link"  onload = "load_data()"><a href = "">登录/注册</a></span>
					</div>
				</li>
				
				</ol>
			</div>
		</div>

    <div class="materialContainer">
        <div class="box">
        
        
        <form id="login" onsubmit="return false;">
            <div class="title">登录</div>
            <div class="input">
                <label for="name">用户名</label>
                <input type="text" name="username" id="name">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="pass">密码</label>
                <input type="password" name="userpwd" id="pass">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button type="submit" id="btn-submit">
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <a href="javascript:" class="pass-forgot">忘记密码？</a>
        </div>
        
        
	</form>
        <div class="overbox">
        	<form id="register" onsubmit="return false;">
            <div class="material-button alt-2">
                <span class="shape"></span>
            </div>
            <div class="title">注册</div>
            <div class="input">
                <label for="regname">用户名</label>
                <input type="text" name="username" id="regname">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="regpass">密码</label>
                <input type="password" name="userpwd" id="regpass">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="reregpass">确认密码</label>
                <input type="password" name="reuserpwd" id="reregpass">
                <span class="spin"></span>
            </div>
            <div class="button">
                <button type="submit" id="btn-submit">
                    <span>注册</span>
                </button>
            </div>
            </form>
        </div>

    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
  	<script type="text/javascript">
    $(function() {
        $('#login').submit(function() { 
            //此处可做表单验证
            if ($("#name").val() == "") {
                alert("用户名不能为空");
                return false;
            }
            var postData = $("#login").serialize(); //序列化表单
            $.ajax({
                type: "POST",
                url: "/login",
                data: postData,
                beforeSend: function() {
                    $("#btn-submit").attr("disabled", true);//防止用户重复提交表单
                    $("#btn-submit").val("正在登陆...");
                },
                success: function(msg) {
                    if (msg == 0) {
                        alert('登陆成功,正在跳转....');
                        var exp = new Date();
            			exp.setTime(exp.getTime() + 60 * 1000 * 60 * 24); //24小时
            			document.cookie = "userName=" + $("#name").val() + ";expires=" + exp.toGMTString();
            			document.cookie = "passWord=" + $("#pass").val() + ";expires=" + exp.toGMTString();
            			document.cookie = "score="  + msg.score + ";expires=" + exp.toGMTString();
            			document.cookie = "tele="  + msg.tele + ";expires=" + exp.toGMTString();
						document.cookie = "scoreRank="+ msg.scoreRank + ";expires=" + exp.toGMTString();;
            			window.location.href="index.html";
                    } else {
                        $("#btn-submit").attr("disabled", false);
                        $("#btn-submit").val("登陆");
                        alert("用户或密码错误！");
                    }
                }
            });
        });
        
        $('#register').submit(function() { 
            //此处可做表单验证
            if ($("#regpass").val() != $("#reregpass").val()) {
                alert("两次输入密码不一致!");
                return false;
            }
            var postData = $("#register").serialize(); //序列化表单
            $.ajax({
                type: "POST",
                url: "/register",
                data: postData,
                beforeSend: function() {
                    $("#btn-submit").attr("disabled", true);//防止用户重复提交表单
                    $("#btn-submit").val("正在注册...");
                },
                success: function(msg) {
                    if (msg == 0) {
                        alert('注册成功,正在跳转....');
                        var exp = new Date();
            			exp.setTime(exp.getTime() + 60 * 1000 * 60 * 24); //24小时
            			document.cookie = "userName=" + $("#regname").val() + ";expires=" + exp.toGMTString();
            			document.cookie = "passWord=" + $("#regpass").val() + ";expires=" + exp.toGMTString();
						document.cookie = "score=" ;
						document.cookie = "scoreRank=";
						document.cookie = "tele=";
            			window.location.href="index.html";
                    } else {
                        $("#btn-submit").attr("disabled", false);
                        $("#btn-submit").val("注册");
                        alert("该账号已被注册！");
                    }
                }
            });
        });
        
        
        
    });
</script>
    <script>
    function load_data(){
   	 var theme=localStorage.getItem("username");
   	 if(theme==null||theme==""){
   		$("#login_link").show(); 
   	 }else{
   		 $("#login_link").hide();  
   		 $("#uname").html(theme);
   	 }
   }
</script>
</body>

</html>